@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("/css/screen__sidebar.css");
@import url("/css/screen__side-screen.css");
@import url("/css/screen__main-screen.css");

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
    font-weight: 300;

}
   
body{
    background: #36404e;
    font-family: 'Press Start 2P', cursive;

    position: relative;
    height: 250vh;
    width: 100%;
    /* overflow: hidden : 넘친 text 자름 */

}




.main-screen{
    position: absolute;
    height: 100%;
    width: 90%;
    left: 150px;
    overflow:hidden;
    
}

.home_content{
    position: absolute;
    height: 100%;
    width: 65%;
    overflow:hidden;
    
}
/*
.text{
    position: absolute;
    top: 0;
    font-size: 25px;
    font-weight: 500;
    color: white;
    right: 0;
    margin:10px;
}


.home_content img{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

    width:1000px;
    height: 500px; 
    box-shadow: 0 5px 10px #171b22;
}


/* sdfas */


/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 250px;

} */ 

/* .container .StartText{
    color: rgb(204, 204, 204);
    font-size: 30px;
    padding-right: 30px;    
}
.container .Texts{
    margin-left: 15px;
    height: 100px;
    line-height: 90px;
    overflow: hidden;
}

.Texts li{
    list-style: none;
    color: white;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    top: 0 ;    
    animation: slide 12s steps(3) infinite;
}

@keyframes slide{
    100% {
        top:-360px;
    }
}


.Texts li span{ position: relative;
margin: 5px 0;
list-style: 90px;
font-size: 14px;
}


.Texts li span::after{
    content: "";
    position: absolute;
    left: 0;
height: 120%;
width: 100%;
background: #36404e;
border-left: 2px solid #36404e;
animation: typing 2s steps(10);






}

@keyframes typing{
    40%,60%{
        left:calc(100%+30px);
    }
    100%{left:0;}
}


.size_form{
    position: fixed;
    top: 50%;
    right: 50%;
    width: 100px;
} 

